{
  "parser": "@babel/eslint-parser",
  "env": {
      "browser": true,
      "node": true
  },
  "extends": [
    "eslint:recommended"
  ],
  "ignorePatterns": [
    "webpack.config.js",
    "test/**/*.spec.js"
  ]
}
