{
  "parser": "@babel/eslint-parser",
  "env": {
      "browser": true,
      "node": true
  },
  "extends": [
    "eslint:recommended"
  ],
  "ignorePatterns": [
    "webpack.config.js",
    "lib",
    "test/**/*.spec.js"
  ],
  "rules": {
    "semi": ["error", "always"],
    "quotes": ["error", "double"],
    "no-unused-vars": 1
  }
}
