@import '../theme.scss';

$color: $text2;
$button-bg: $background2;
$color-hover: $text2;
$color-bg-hover: $background2hover;
$color-active: $background2;
$button-bg-active: $text2;

.guify-button {
    box-sizing: border-box !important;
    color: $color;
    background-color: $button-bg;

    position: absolue;
    text-align: center;
    height: 20px;
    width: 62%;
    border: none;
    cursor: pointer;
    right: 0;
    font-family: inherit;

    &:focus {
        outline:none;
    }
    &::-moz-focus-inner {
        border:0;
    }

    &:hover,
    &:focus {
        color: $color-hover;
        background-color: $color-bg-hover;
    }

    &:active {
        color: $color-active !important;
        background-color: $button-bg-active !important;
    }
}
