@import "../theme.scss";

div.guify-folder {
    cursor: pointer;

    padding-left: 2px;
    margin-bottom: 5px;

    div {
        display: inline-block;
        vertical-align: sub;
        line-height: 25px;
    }

    &:hover, &:focus {
        background-color: $background2hover;
        outline: none;
        // * {
        //     text-decoration: underline;
        // }
    }
}


div.guify-folder-contents {
    display: block;
    box-sizing: border-box;
    padding-left: 14px;
}
