@import "./components/variables.css";

.guify-container {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Sub-elements of guify-container should appear over anything else. */
.guify-container > * {
    z-index: 9999;
}

.guify-container, .guify-container * {
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
}

.guify-container-overlay {
    height: 100%;
}

.guify-container-above {
    height: calc(100% + var(--size-menu-bar-height));
    bottom: 0;
}

/* Overlay container when fullscreen */
.guify-fullscreen .guify-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}