
@import './theme.scss';
@import './mixins.scss';

$bar-height: 36px;
$bar-content-height: 20px;

#guify {
    position: absolute;
    left: 0;
    width: 100%;
    font-size: 11px;

    .guify-bar {
        height: $bar-height;
        width: 100%;
        opacity: 1.0;
        position: relative;
        left: 0;
        top: 0;

        .guify-bar-title {
            text-align: center;
            width: 100%;
            position: absolute;
            top: ($bar-height - $bar-content-height) / 2;
            line-height: $bar-content-height;
            color: $text1;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        .guify-bar-button {
            text-align: center;
            border: none;
            cursor: pointer;
            font-family: inherit;
            height: $bar-content-height;
            position: absolute;
            top: ($bar-height - $bar-content-height) / 2;
            color: $text1;
            background-color: $background2;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;

            &:hover, &:focus {
                background-color: $background2hover;
            }

            &:active {
                color: $background2 !important;
                background-color: $text2 !important;
            }

        }
    }

    .guify-panel {
        // Fix white seam around panel
        border: 1px solid $background1;

        & {
            position: absolute;
            padding: 14px;
            padding-bottom: 9px; // 5px padding on each element means last item will have 14px to bottom

            /* all: initial;  */
            // font-family: 'Hack', monospace;
            // font-size: 11px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            cursor: default;
            text-align: left;
            box-sizing: border-box;

            overflow: hidden;
        }

        &.guify-panel-hidden {
            height: 0px;
            display: none;
            @include transition(all 300ms ease);
            @include transition-property(height, padding-top, padding-bottom);
            //transition: height 0.3s ease, padding-top 0.3s ease, padding-bottom 0.3s ease;
        }

        * {
            box-sizing: initial;
            -webkit-box-sizing: initial;
            -moz-box-sizing: initial;
        }

        * input {
            font-family: 'Hack';
            font-size: 11px;
            display: inline;
        }

        * a {
            color: inherit;
            text-decoration: none;
        }
    }

    .guify-toast-area {

    }

}
